*{
    border:solid 1px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
    position: relative;
}
.all{
    width: 83.3vw;
    height: calc(100% - 16vw);
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-between;
}
.pic1,.pic2,.pic3,.pic4{
    width: 24%;
    height: 49%;
}
.pic5{
    width: 50%;
    height:100%;

}
.logo{
    width:33%;
    max-width: 420px;
    height: 33vw;
    max-height: 420px;
    border:solid 1px;
    border-radius: 50%;
    position: absolute;;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.enter{
    width: 80px;
    height: 25px;
    position: absolute;
    bottom:35vh;
    left:47%;
    text-align: center;
}
.enter_btn{
    font-size: 18px;
    text-decoration: none;
    color:black;
    border:solid 0;
}