*{}
body{
    margin:0;
    padding: 0;
    /* height: 100vh; */
    /* background-image: url(img/底圖-02.png);
    background-size: cover; */
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    /* border:solid 1px; */
    /* background-image: url(img/底圖-02.png); */
    background-size: cover;
}
.container2{
    width: 100%;
    height: 100%;
    position: relative;
    /* border:solid 1px; */
    /* background-image: url(img/底圖-02.png); */
    background-size: cover;
}
.container3{
    width: 100%;
    height: 100%;
    position: relative;
    /* border:solid 1px; */
    /* background-image: url(img/底圖-02.png); */
    background-size: cover;
}
.container4{
    width: 100%;
    height: 100%;
    position: relative;
    /* border:solid 1px; */
    /* background-image: url(img/底圖-02.png); */
    background-size: cover;
}
.font1{
    width: 319px;
    height: 112px;
    position: absolute;
    /* border:solid 1px; */
    top:30px;
    animation-name: font;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    background-image: url(logofont/logofont.png);
    background-size: cover;
}
@keyframes font{
    from{
        top:30px;
    }
    to{
        top:80px;
    }
}
.font1{
    left:250px;
}
/* .font2{
    left:420px;
}
.font3{
    left:590px;
} */
.smalltitle{
    width: 337px;
    height: 31px;
    /* border:solid 1px; */
    position: absolute;
    top:150px;
    left:350px;
    animation-name: smalltitle;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    background-image: url(logofont/logotext.png);
    background-size: cover;
}
@keyframes smalltitle{
    from{
        top:150px;
    }
    to{
        top:200px;
    }
}
.logo{
    position: fixed;
    bottom:20px;
    left:20px;
}
.list1{
    position: fixed;
    left:135px;
    top:50px;
    height: 80%;
    border-right: solid 2px;
}
.list1 ul li {
    list-style: none;
    margin-bottom: 20px;
    background-color: black;
    width: 25px;
    height: 110px;
    position: relative;
}
.list1 ul li a{
    text-decoration: none;
    color:white;
    margin-right: 15px;
    position: absolute;
    left:4.5px;
    top: 17px;
}
.list2{
    position: fixed;
    right:20px;
    top: 50px;
}
.list2 ul li {
    list-style: none;
    margin-bottom: 20px;
    background-color: black;
    width: 25px;
    height: 90px;
    position: relative;

}
.list2 ul li a{
    text-decoration: none;
    color: white;
    position: absolute;
    left: 2.5px;
    top:7px;
    /* transform: translate(-50%,-50%); */
}
.list3{
    position: fixed;
    right: 20px;
    bottom:20px;
}
.list3 ul li {
    list-style: none;
    margin-bottom: 20px;
}
.list3 ul li a{
    color:black;
}
.footer{
    position: fixed;
    left: 250px;
    bottom: 60px;
    z-index: 999;
}
.footer a{
    text-decoration: none;
    color: black;
}
.content{
    width: 65%;
    /* height: 70%; */
    position: absolute;
    border:solid 1px;
    left: 55%;
    top:70px;
    transform: translate(-50%, 0);
}
.main{
    margin:0 auto;
    width:65%;
    /* border:solid 1px; */
    position: relative;
}
.brand{
    width: 100%;
    position: absolute;
    top:20px;
}
.brandstory{
    width: 100%;
    height: 260px;
    /* margin-bottom: 30px; */
    background-image: url("img/story_01.jpg");
    background-size: cover;
}
.awardrecord{
    width: 100%;
    height:462px;
    /* border:solid 1px; */
    background-image: url("img/story_02.jpg");
    background-size: cover;
}
.menutext{
    width: 100%;
    /* height: 300px; */
    text-align: center;
    position: absolute;
    top:80px;
    font-size: 40px;
}
.menuline{
    width: 5vw;
    height: 1vw;
    position: absolute;
    top:150px;
    left:50%;
    transform: translate(-50%,0);
    border-bottom:solid 1px;
}
.menuline2{
    width: 5vw;
    height: 1vw;
    position: absolute;
    top:180px;
    left:50%;
    transform: translate(-50%,0);
    text-align: center;
}
.menupic{
    width: 100%;
    position: absolute;
    height:500px;
    top:250px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.foodpic{
    width: 30%;
    height: 150px;
    position: relative;
    /* animation-name: down; */
    /* animation-duration: 5s;
    animation-fill-mode: forwards; */
    /* display: none; */
    /* border: solid 1px; */
}
.block{
    display: block;
}
#salad{
    animation-delay: 0.5s;
}
#entree{
    animation-delay: 1s;
}
#soup{
    animation-delay: 1.5s;
}
#main{
    animation-delay: 2s;
}
#rice{
    animation-delay: 2.5s;
}
#dessert{
    animation-delay: 3s;
}
#drink{
    animation-delay: 3.5s
}
.animation{
    animation-name: down;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    position: relative;
}
@keyframes down {
    from{
        top:0;
    }
    to{
        top:70px;
    }
}
.member{
    width:100%;
    position:absolute;
    top: 180px;
}
.member_title{
    text-align: center;
    font-size: 40px;
}
.member_form{
    width: 80%;
    height:270px;
    border:solid 1px;
    position: relative;
    margin:0 auto;
}
.block1{
    font-size: 20px;
    position: absolute;
    top: 80px;
    left:30px
}
.block2{
    font-size: 20px;
    position: absolute;
    top:120px;
    left:30px;
}
.block3{
    position: absolute;
    top:85px;
    left:150px;
}
.block4{
    position: absolute;
    top: 125px;
    left:150px;
}
.block5{
    position: absolute;
    top:165px;
    left:200px
}
.block6{
    position: absolute;
    top:150px;
    right:30px;
}
.block6 ul li{
    list-style: none;
    margin:5px;
    
}
.block6 ul li a{
    text-decoration: none;
    color:black;
    font-size: 15px;
}
.goodnews{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-bottom:solid 1px;
}
.storearea{
    width:100%;
    height: 120px;
    position: relative;
    margin-bottom:20px; 
}
.storearea ul{
    width: 100%;
    position: absolute;
    top:50px;
    display:flex;
    justify-content: space-around;    
}
.storearea ul li{
    list-style: none;
    width:30%;
}
.storearea ul li a{
    text-decoration: none;
    color:black;
    font-size: 25px;
}
.storeline{
    width: 80%;
    height: 80px;
    border-top:solid 1px; 
    margin:0 auto;
}
.store{
    width: 100%;
    height: 1300px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.storeinf{
    width: 45%;
    height: 300px;
    border:solid 1px;
}
.storepic{
    width: 100%;
    height: 220px;
    border:solid 1px;
}
.comment_form{
    width: 100%;
    position: absolute;
    top:80px;
    border:dotted 2px;
}
.box1{
    width:100%;
    height: 50px;
    border-bottom:dotted 1px;
    position: relative;
}
.boxtxt{
    position: absolute;
    top:50%;
    left:20px;
    transform: translate(0,-50%);
}
.boxinput{
    position: absolute;
    top:10px;
    right:250px;
}
.box1 input{
    width: 200px;
    height:30px;
}
.box2{
    width: 100%;
    height:50px;
    border-bottom:dotted 1px;
    position: relative;
}
.boxtxt2{
    position: absolute;
    top:50%;
    left:20px;
    transform: translate(0,-50%);
}
.box2 .selctor{
    position: absolute;
    top:10px;
    right:250px;

}
.box2 select{
    width: 200px;
    height: 30px;
}
.box3{
    width: 100%;
    height: 120px;
    border-bottom:dotted 1px;
    position: relative;
}
.box3 p{
    margin-left: 20px;
}
.box3 label{
    margin-left: 20px;
}
.box3 .boxinput{
    position: absolute;
    top:35px;
}
.box3 .boxinput2{
    position: absolute;
    top:70px;
    right:250px
}
.box3 input{
    width: 200px;
    height: 30px;
}
.box4{
    width: 100%;
    height: 50px;
    border-bottom:dotted 1px;
    position: relative;
}
.box4 p{
    margin-left:20px;
}
.box4 .boxinput{
    right:250px;
    top: 0px;
}
.box4 input{
    width: 200px;
    height: 30px;
}
.box5{
    width: 100%;
    height: 50px;
    border-bottom:dotted 1px;
    position: relative;
}
.box5 p{
    margin-left: 20px;
}
.box5 .selctor{
    position: absolute;
    top:0;
    right:250px;
    /* transform: translate(0,-50%); */
}
.box5 select{
    width: 200px;
    height: 30px;
}
.box6{
    width: 100%;
    height: 50px;
    border-bottom:dotted 1px;
    position: relative;
}
.box6 p{
    margin-left:20px;
    /* margin-top:25px; */
}
.box6 .boxinput{
    right:250px;
    top:0px;
}
.box6 input{
    width: 200px;
    height: 30px;
}
.box7{
    width: 100%;
    height: 140px;
    position: relative;
    border-bottom: dotted 1px;
}
.box7 p{
    margin-left:20px;
}
.box7 .boxinput{
    right:100px;
    top:18px;
}
.box7 input{
    width: 350px;
    height: 100px;
}
.box8{
    width: 100%;
    height: 50px;
    position: absolute;
}
.box8 .block5{
    top:0;
    left: 50%;
    transform: translate(-50%,0);
}
.menucontent{
    width: 100%;
    position: absolute;
    top:80px;
    /* border:solid 1px; */
}
.salad{
    width:100%;
    height: 800px;
    margin-bottom: 20px;
}
.saladpic1{
    background-image: url("img/menuV4/1sa-01.jpg");
}
.saladpic2{
    background-image: url(img/menuV4/1salad-02.jpg);
}
.saladpic3{
    background-image: url(img/menuV4/1salad-03.jpg);
}
.saladpic4{
    background-image: url(img/menuV4/1salad-04.jpg);
}
.appetizer{
    width:100%;
    height: 800px;
    margin-bottom: 20px;
}
.appetizerpic1{
    background-image: url(img/menuV4/2en-01.jpg);
}
.appetizerpic2{
    background-image: url(img/menuV4/2en-02.jpg);
}
.soup{
    width:100%;
    height: 800px;
    margin-bottom: 20px;
}
.souppic1{
    background-image: url(img/menuV4/3so-01.jpg);
}
.souppic2{
    background-image: url(img/menuV4/3so-02.jpg);
}
.souppic3{
    background-image: url(img/menuV4/3so-03.jpg);
}
.meal{
    width:100%;
    height: 1360px;
    margin-bottom: 20px;
}
.mealpic1{
    background-image: url(img/menuV4/4ma-01.jpg);
}
.mealpic2{
    background-image: url(img/menuV4/4ma-02.jpg);
}
.mealpic3{
    background-image: url(img/menuV4/4ma-03.jpg);
}
.mealpic4{
    background-image: url(img/menuV4/4ma-04.jpg);
}
.mealpic5{
    background-image: url(img/menuV4/4ma-05.jpg);
}
.mealpic6{
    background-image: url(img/menuV4/4ma-06.jpg);
}
.mealpic7{
    background-image: url(img/menuV4/4ma-07.jpg);
}
.food{
    width:100%;
    height: 800px;
    margin-bottom: 20px;
}
.foodpic1{
    background-image: url(img/menuV4/5ri-01.jpg);
}
.dessert{
    width:100%;
    height: 800px;
    margin-bottom: 20px;
}
.dessertpic1{
    background-image: url(img/menuV4/6de-01.jpg);
}
.dessertpic2{
    background-image: url(img/menuV4/6de-02.jpg);
}
.dessertpic3{
    background-image: url(img/menuV4/6de-03.jpg);
}
.dessertpic4{
    background-image: url(img/menuV4/6de-04.jpg);
}
.drink{
    width:100%;
    height: 1360px;
}
.foodtile{
    width: 100%;
    height: 50px;
    font-size:25px;
    text-align: center;
    margin-top:10px;
    /* border-bottom:solid 1px; */
}
.foodpng{
    width: 100%;
    height: 650px;
    border-bottom:solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding:5px 0;
    /* box-sizing: border-box; */
}
.foodjpg{
    width: 100%;
    height: 1310px;
    border-bottom:solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding:5px 0;
}
.space{
    width: 47%;
    height: 300px;
    border:solid 1px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}
.title{
    width:85px;
    height: 200px;
    position: absolute;
    top:0;
    left:27.75px;
    /* border:solid 1px; */
}
.blank{
    width: 100%;
    height: 100px;
}
p{
    font-size: 12px;
    line-height: 20px;
    margin-left: 10px;

}
.storepic1{
    background-image: url(store/instore/middle/1.jpg)
}
.storepic1:hover{
    background-image: url(store/address/middle/1.jpg);
    transition: 0.5s ease-in;
}
.storepic2{
    background-image: url(store/instore/middle/2.jpg)
}
.storepic2:hover{
    background-image: url(store/address/middle/2.jpg);
    transition: 0.5s ease-in;
}
.storepic3{
    background-image: url(store/instore/middle/3.jpg)
}
.storepic3:hover{
    background-image: url(store/address/middle/3.jpg);
    transition: 0.5s ease-in;
}
.storepic4{
    background-image: url(store/instore/middle/4.jpg)
}
.storepic4:hover{
    background-image: url(store/address/middle/4.jpg);
    transition: 0.5s ease-in;
}
.storepic5{
    background-image: url(store/instore/middle/5.jpg)
}
.storepic5:hover{
    background-image: url(store/address/middle/5.jpg);
    transition: 0.5s ease-in;
}
.storepic6{
    background-image: url(store/instore/middle/6.jpg)
}
.storepic6:hover{
    background-image: url(store/address/middle/6.jpg);
    transition: 0.5s ease-in;
}
.storepic7{
    background-image: url(store/instore/middle/7.jpg)
}
.storepic7:hover{
    background-image: url(store/address/middle/7.jpg);
    transition: 0.5s ease-in;
}
.storepic8{
    background-image: url(store/instore/middle/8.jpg)
}
.storepic8:hover{
    background-image: url(store/address/middle/8.jpg);
    transition: 0.5s ease-in;
}



.storepic9{
    background-image: url(store/instore/north/1.jpg)
}
.storepic9:hover{
    background-image: url(store/address/north/1.jpg);
    transition: 0.5s ease-in;
}
.storepic10{
    background-image: url(store/instore/north/2.jpg)
}
.storepic10:hover{
    background-image: url(store/address/north/2.jpg);
    transition: 0.5s ease-in;
}
.storepic11{
    background-image: url(store/instore/north/3.jpg)
}
.storepic11:hover{
    background-image: url(store/address/north/3.jpg);
    transition: 0.5s ease-in;
}
.storepic12{
    background-image: url(store/instore/north/4.jpg)
}
.storepic12:hover{
    background-image: url(store/address/north/4.jpg);
    transition: 0.5s ease-in;
}
.storepic13{
    background-image: url(store/instore/north/5.jpg)
}
.storepic13:hover{
    background-image: url(store/address/north/5.jpg);
    transition: 0.5s ease-in;
}
.storepic14{
    background-image: url(store/instore/north/6.jpg)
}
.storepic14:hover{
    background-image: url(store/address/north/6.jpg);
    transition: 0.5s ease-in;
}
.storepic15{
    background-image: url(store/instore/north/7.jpg)
}
.storepic15:hover{
    background-image: url(store/address/north/7.jpg);
    transition: 0.5s ease-in;
}
.storepic16{
    background-image: url(store/instore/north/8.jpg)
}
.storepic16:hover{
    background-image: url(store/address/north/8.jpg);
    transition: 0.5s ease-in;
}


.storepic17{
    background-image: url(store/instore/south/1.jpg)
}
.storepic17:hover{
    background-image: url(store/address/south/1.jpg);
    transition: 0.5s ease-in;
}
.storepic18{
    background-image: url(store/instore/south/2.jpg)
}
.storepic18:hover{
    background-image: url(store/address/south/2.jpg);
    transition: 0.5s ease-in;
}
.storepic19{
    background-image: url(store/instore/south/3.jpg)
}
.storepic19:hover{
    background-image: url(store/address/south/3.jpg);
    transition: 0.5s ease-in;
}
.storepic20{
    background-image: url(store/instore/south/4.jpg)
}
.storepic20:hover{
    background-image: url(store/address/south/4.jpg);
    transition: 0.5s ease-in;
}
.storepic21{
    background-image: url(store/instore/south/5.jpg)
}
.storepic21:hover{
    background-image: url(store/address/south/5.jpg);
    transition: 0.5s ease-in;
}
.storepic22{
    background-image: url(store/instore/south/6.jpg)
}
.storepic22:hover{
    background-image: url(store/address/south/6.jpg);
    transition: 0.5s ease-in;
}
.storepic23{
    background-image: url(store/instore/south/7.jpg)
}
.storepic23:hover{
    background-image: url(store/address/south/7.jpg);
    transition: 0.5s ease-in;
}

.goodnewspic1{
    background-image: url(goodnews/news_5.jpg)
}
.goodnewspic2{
    background-image: url(goodnews/news_6.jpg)
}
.goodnewspic3{
    background-image: url(goodnews/news-3.jpg);
}
.goodnewspic4{
    background-image: url(goodnews/news_4.jpg);
}
.goodnewspic5{
    background-image: url(goodnews/news-1.jpg);
}
.goodnewspic6{
    background-image: url(goodnews/news-2.jpg);
}
.titlestore{
    background-image: url(titlePic/分店資訊-02.png);
    background-size: cover;
}
.titlestory{
    background-image:url(titlePic/陶板故事-02.png);
    background-size: cover;    
}
.titlemenupage{
    background-image:url(titlePic/和風料理.png);
    background-size: cover;    
}
.titlememberpage{
    background-image:url(titlePic/會員專區-02.png);
    background-size: cover;     
}
.titlegoodnews{
    background-image:url(titlePic/好康快報-02.png);
    background-size: cover; 
}
.titlecomment{
    background-image:url(titlePic/淘淘不絕-02.png);
    background-size: cover;     
}
.salad_01{
    width: 164px;
    height: 152px;
    background-image: url(menupng/salad.png);
    background-size: contain;
}
.soup_01{
    width: 164px;
    height: 152px;
    background-image: url(menupng/soup.png);
    background-size:contain;
}
.entree_01{
    width: 164px;
    height: 152px;
    background-image: url(menupng/entree.png);
    background-size: contain;
}
.main_01{
    width: 164px;
    height: 152px;
    background-image: url(menupng/main.png);
    background-size: contain;
}
.rice_01{
    width: 164px;
    height: 152px;
    background-image: url(menupng/rice.png);
    background-size: contain;
}
.dessert_01{
    width: 164px;
    height: 152px;
    background-image: url(menupng/dessert.png);
    background-size: contain;
}
.drink_01{
    width: 164px;
    height: 152px;
    background-image: url(menupng/drink.png);
    background-size: contain;
}

.





