*
{
    margin: 0 auto;
    font-family: 微軟正黑體;
    text-decoration: none;
}
body
{
margin:0;
<<<<<<< HEAD
/* background-image: url(img/index_pic.jpg); */
/* background-size:cover; */
/* background-position:center; */
=======
background-size:cover;
background-position:center;
>>>>>>> 3d9681f39cd5f146b8650156d252910aebecd303
height: 100vh;
}
.nav      /*頂部浮動導覽條*/
{
    width: 100%;
    height: 80px;
<<<<<<< HEAD
    display:inline-flex;
=======
    display: inline-flex;
>>>>>>> 3d9681f39cd5f146b8650156d252910aebecd303
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    flex-wrap:nowrap;
    position: relative;
    top:0;
<<<<<<< HEAD
=======
    z-index: 2;
>>>>>>> 3d9681f39cd5f146b8650156d252910aebecd303
}
.dropdown
{
    position:absolute;
    left: 15%;
    top:50%;
    transform: translate(-50%,-50%);
}
.forms
{
    width: 40px;
    height: 40px;
    background-color: white;
    position: relative;
}
.btn-group
{
    background: none;
    border: none;
    display: inline-block;
}
.icon-bar1 {
    position:absolute;
    left:50%;
    top:25%;
    background-color:black;
    height: 4px;
    width: 30px;
    transform: translate(-50% , -50%);
  }
  .icon-bar2 {
    position:absolute;
    left: 50%;
    top:50%;
    background-color:black;
    display: block;
    height: 4px;
    width: 30px;
    transform: translate(-50% , -50%);
  }
  .icon-bar3 {
    position:absolute;
    left: 50%;
    top:75%;
    background-color:black;
    display: block;
    height: 4px;
    width: 30px;
    transform: translate(-50% , -50%);
  }
.mark2     /*置中標誌*/
{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-image: url(img/logo-18.png);
    background-size: cover;
}
.iconbox   /*靠右icon包覆*/
{
    width: 20%;
    /* display: inline-flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;*/
    position:absolute;
    left: 85%;
    top:50%;
    transform: translate(-50%,-50%);
}
.indexText1
{
    width: 55%;
    height: 100px;
    position:absolute;
    top: 20%;
    left:40%;
    transform: translate(-50%,-50%);
    background-image:url(img/logofont.png);
    background-size: cover;
}
.indexText2
{
    width: 55%;
    height: 30px;
    position:absolute;
    top:30%;
    left:60%;
    transform: translate(-50%,-50%);
    background-image: url(img/logotext.png);
    background-size: cover;
}
.footer
{
    width: 256px;
    height: 60px;
    position: fixed;
    bottom:0;
    left:calc(50% - 128px);
    background-image: url(img/worktime.png);
}
.whole1
{
    width:100%;
    height:70vh;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
<<<<<<< HEAD
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    border: solid 1px;
=======
    display: inline-flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items:center;
>>>>>>> 3d9681f39cd5f146b8650156d252910aebecd303
}
.leftbox
{
    width:20%;
    height: 95%;
}
.midbox
{
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
<<<<<<< HEAD
=======
.midbox3
{
    width: 50%;
    height: 95%;
}
>>>>>>> 3d9681f39cd5f146b8650156d252910aebecd303
.rightbox
{
    width: 20%;
    height: 95%;
}
.leftboxMini
{
    width: 90%;
<<<<<<< HEAD
    height: 200px;
    top:0;
    margin: 0 auto;
    background-image: url(img/feedback.png);
    background-size: cover;
=======
    height: 175px;
    top:0;
    margin: 0 auto;
>>>>>>> 3d9681f39cd5f146b8650156d252910aebecd303
}
.midboxTop
{
    width: 90%;
    height: 48%;
    border: solid 1px;
}
.midboxbottom
{
    width: 90%;
    height: 48%;
<<<<<<< HEAD
    border: solid 1px;
}
.boxtxt 
{
    float: left;
    width: 25%;
    height: 100%;
    position: relative;
}
.boxtxt2
{
    float:left;
    width: 25%;
    height: 100%;
    position: relative;
}
.boxinput
{
    float:left;
    width: 75%;
    height: 100%;
    position: relative;
}
.selctor
{
    float:left;
    width: 75%;
    height: 100%;
    position: relative;
}
.boxtxt3
{
    width: 40%;
    height: 100%;
    line-height: 30px;
    box-sizing: border-box;
    font-size: 15px;
    float: left;
    color:black;
}
.boxinput2
{
    float:right;
    width: 60%;
    height:100%;
    position: relative;
}
#input1
{
    margin-top: 30px;
    width: 100%;
}
#input2
{
    width: 100%;
}
.box3input
{
    width: 60%;
    height: 100px;
    position: absolute;
=======
>>>>>>> 3d9681f39cd5f146b8650156d252910aebecd303
}
.midboxTopInfor
{
    width: 90%;
    height: 8%;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.midboxbottomInfor
{
    width: 90%;
<<<<<<< HEAD
    height: 90%;
    border: solid 1px;
=======
    height: 90%; 
>>>>>>> 3d9681f39cd5f146b8650156d252910aebecd303
}
.mobilebox1
{
    width: 74px;
    height: 34px;
    border: solid 1px;
}
.whole2
{
    width:100%;
    height:70vh;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    border: solid 1px;
}
.menutop
{
    width: calc(100% - 1px);
    height: 55%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    border: solid 1px;
}
.menubottom
{
    width: calc(100% - 1px);
    height:calc(45% - 2px);
    border: solid 1px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:flex-start;
}
.menubox
{
    width: 50px;
    height: 50px;
    border: solid 1px;
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-bottom: 30px;
}
.midboxMenu
{
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
<<<<<<< HEAD
=======
.midboxMenu2
{
    width: 75%;
    height: 95%;
}
>>>>>>> 3d9681f39cd5f146b8650156d252910aebecd303
.midtext1
{
    width:80%;
    height: 20%;
    border: solid 1px;
    margin-bottom: 30%;
}
.midtext2
{
    width: 40%;
    height: 20%;
    border: solid 1px;
}
.newsbox
{
    width: 95%;
<<<<<<< HEAD
    height: 22%;
    border: solid 1px;
=======
    height: 16%;
>>>>>>> 3d9681f39cd5f146b8650156d252910aebecd303
}
.boxtitle
{
    width: 80%;
    height: calc(10% - 2px);
<<<<<<< HEAD
    border:solid 1px;
    margin-bottom: 10%;
=======
    text-align: center;
>>>>>>> 3d9681f39cd5f146b8650156d252910aebecd303
}
.coating
{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border: solid 1px;
}
.message2
{
    width: 90%;
    height: 10%;
    border: solid 1px;
    margin-bottom: 10%;
}
.message1
{
    width: 30%;
    height: 10%;
    border: solid 1px;
}
<<<<<<< HEAD
.feedback
{
    width: 80%;
    height: 10%;
}
.feedback2
{
    width: 80%;
    height: 20%;
}
.feedback3
{
    width: 80%;
    height: 5%;
    border: solid 1px;
}
.feedback4
{
    width: 30%;
    height: calc(100% - 1px);
    margin-left: 10%;
    border: solid 1px;
=======
.comment_form
{
    width: 100%;
    height: 100%;
    border:dashed 2px white;
    background-color: rgba(0,0,0,0.4)
}

.box1
{
    width:100%;
    height: 12%;
    border-bottom:dotted 1px;
}
.boxtxt
{
    display: inline-block;
    width: 20%;
    height: 100%;
}
.boxinput
{
    display: inline-block;
    width: 78%;
    height: 100%;
}
.boxtxt label
{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color:white;
}
.box1 input
{
    width: 80%;
    height:100%x;
    position: relative;
    left:50%;
    top:55%;
    transform: translate(-50%,-50%);
}

.box2{
    width: 100%;
    height: 12%;
    border-bottom:dotted 1px;
}
.boxtxt2{
    display: inline-block;
    width: 20%;
    height: 80%;
}
.box2 .boxtxt2 label
{
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    color:white;
}
.box2 .selctor
{
    display: inline-block;
    width: 78%;
    height: 100%;
}
.box2 select
{
    width: 80%;
    height: 60%;
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.box3
{
    width: 100%;
    height: 12%;
    border-bottom:dotted 1px;
}
.box3 .boxtxt3
{
    width: 20%;
    height: 100%;
    line-height: 180%;
    box-sizing: border-box;
    display: inline-block;
    color:white;
}
.box3 .boxinput2
{
    display: inline-block;
    width: 78%;
    height: 100%;
}
.box3 input
{
    width: 80%;
    height:50%;
    position: relative;
    left:50%;
    top:25%;
     transform: translate(-50%,-50%);
}

/* #input1{
    top:48px;
}
#input2{
    top:83px;
} */
.box4
{
    width: 100%;
    height: 12%;
    border-bottom:dotted 1px;
}
.boxtxt4
{
    display: inline-block;
    width: 20%;
    height: 100%;
}
.box4 .boxtxt4 label
{
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    color:white;
}
.boxinput4
{
    display: inline-block;
    width: 78%;
    height: 100%;
}
.box4 input
{
    width: 80%;
    height:100%x;
    position: relative;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.box5{
    width: 100%;
    height: 12%;
    border-bottom:dotted 1px;
}
.boxtxt5{
    display:inline-block;
    width: 20%;
    height: 100%;
}
.box5 .boxtxt5 label
{
    position: relative;
    left: 50%;
    top:40%;
    transform: translate(-50%,-50%);
    color:white;
}
.box5 .selctor5{
    display: inline-block;
    width: 70%;
    height: 100%;
}
.box5 select
{
    width: 80%;
    height: 60%;
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.box6
{
    width: 100%;
    height: 12%;
    border-bottom:dotted 1px;
}
.boxtxt6{
    display: inline-block;
    width: 20%;
    height: 100%;
}
.box6 .boxtxt6 label
{
    position: relative;
    left: 50%;
    top:25%;
    transform: translate(-50%,-50%);
    color:white;
}
.boxinput6
{
    display: inline-block;
    width: 75%;
    height: 100%;
}
.box6 input
{
    position: relative;
    width: 80%;
    height:80%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.box7
{
    width: 100%;
    height: 20%;
    border-bottom: dotted 1px;
}
.box7 .boxtxt7
{
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;
}
.box7 .boxtxt7 label
{
    left: 50%;
    top:25%;
    transform: translate(-50%,-50%);
    color:white;
    position: relative;
}
.box7 .boxinput7
{
    display: inline-block;
    width: 78%;
    height: 95%;
    position: relative;
}
.box7 input
{
    position: relative;
    width: 80%;
    height:80%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.box8{
    width: 100%;
    height: 8%;
}
.box8 .block5
{
    position: relative;
    width: 90%;
    height:90%;
    left:70%;
    top:50%;
    transform: translate(-50%,-50%);
}

.version
{
    width:100px ;
    height: 100px;
}

.mark_pic
{
	width:100%;
	height:80%;
}

.vertext
{
    width: 100%;
    height: 20%;
	font-size: 10px;
    text-align:center;
    overflow: auto;
    text-overflow:ellipsis;
	background-color: gray;
}

.bundles 
{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: space-between;
}

.member_form
{
    width: 80%;
    height:80%;
    border:solid 1px;
    position: relative;
    margin:0 auto;
}
.block1
{
    font-size: 20px;
    width: 100%;
    height: 12%;
    text-align: center;
}
.block2
{
    font-size: 20px;
    width: 100%;
    height: 12%;
}
.block2 input
{
    width: 100%;
}
.block3
{
    font-size: 20px;
    width: 100%;
    height: 12%;
    text-align: center;
}
.block4
{
    font-size: 20px;
    width: 100%;
    height: 12%;
}
.block4 input
{
    width: 100%;
}
.member_form .block5
{
    font-size: 20px;
    width: 100%;
    height: 12%;
    text-align: center;
}
.block6{
    font-size: 20px;
    width: 100%;
    height: 24%;
}
.block6 ul li{
    list-style: none;
    margin:5px;
}
.block6 ul li a{
    text-decoration: none;
    color:black;
    font-size: 15px;
}

.menu1
{
    width: 50%;
>>>>>>> 3d9681f39cd5f146b8650156d252910aebecd303
}
.fa-twitter:before 
{
    color: white;
    margin-right: 10px;
}
.fa-google::before
{
    color: white;
    margin-right: 10px;
}
.fa-facebook-f::before
{
    color:white;
}