
.all{
    width: 83.3vw;
    height: calc(100% - 16vw);
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-between;
    /* background-image: url(img/中間圖-03.png); */
    background-size: cover;
}
.pic1,.pic2,.pic3,.pic4{
    width: 24%;
    height: 49%;
}
.pic5{
    width: 50%;
    height:100%;
}
.logo2{
    width:33%;
    max-width: 420px;
    height: 33vw;
    max-height: 420px;
    border:solid 0px;
    border-radius: 50%;
    position: absolute;;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-image: url(/02.-素材/01-IMG/logo_icom/enter_logo3-02.png);
    background-size: cover;
}
.enter{
    width: 80px;
    height: 25px;
    position: absolute;
    bottom:35vh;
    left:48%;
    text-align: center;
}
.enter_btn{
    font-size: 18px;
    text-decoration: none;
    color:white;
    border:solid 0;
    border:solid 1px;
}
.enter_btn:hover{
    background-color: white;
    color:purple;
    
}
.pic1{
    background-image: url(imgslim/左上-04.jpg);
    background-size: cover;
}
.pic2{
    background-image: url(imgslim/左下-04.jpg);
    background-size: cover;
}
.pic3{
    background-image: url(imgslim/右上-04.jpg);
    background-size: cover;
}
.pic4{
    background-image: url(imgslim/右下-04.jpg);
    background-size: cover;
}
.pic5{
    background-image: url(imgslim/大-03.jpg);
    background-size: cover;
}